*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    background-color: #07081A;;
}

ul {
    list-style: none;
}

.divmane{
    display: flex;
    flex-direction: column;
    gap: 88px;
}

.conteiner{
    max-width: 1040px;
    width: 100%;
    padding: 0 20px;
}
/*header*/
header{
    display: flex;
    justify-content: center;
    padding: 14px 0;
    border-bottom: 1px solid #261C51;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFF;
    font-size: 16px;
    line-height: 24px; 
    text-transform: capitalize;
}

nav ul{
    display: flex;
    gap: 24px;
}

.navlist{
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: capitalize;
}

.navlist:hover{
    color: #B968DE;
}

.user{
    border-radius: 8px;
    background: #9100D3;
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
}
/*main*/

.maingap{
    display: flex;
    flex-direction: column;
    gap: 88px;
}

main{
    display: flex;
    flex-direction: column;
    gap: 88px;
    align-items: center;

}

.hiro{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 32px;


}

.hiro h1{
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    line-height: 52px;

}
.hiro p{
    color: #C0C0C0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;

}
.hiro button{
    color: #FFF;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    background: #9100D3;
    width: 186px;

}
.hiro div{
    justify-content: center;
}

.company{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.companybox{
    display: flex;
    gap: 8px;
    align-items: center;
}

.company span{
    color: #FFF;
    font-size: 24;
    font-weight: 700;
    line-height: 28px;
    text-transform: capitalize;
}

.blogCards{
    display: flex;
    justify-content: space-between;
}

.blogCardsBox{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px 24px;
}

.blogCardsBox h2{
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px; 

}

.blogCardsBox p{

     color: #C0C0C0;
     font-size: 14px;
     font-weight: 400;
     line-height: 20px;

}   

/*footer*/

footer{
    padding: 20px 0;
    border-top: 1px solid #261C51;
    display: flex;
    justify-content: center;
    color: #FFF;
    font-size: 16px;


}

.footerNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footerlink{
    display: flex;
    gap: 24px;
}